<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338675190296-sktr39kicv23vcotun3mh01h95gjqhhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338675190296-sktr39kicv23vcotun3mh01h95gjqhhf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>338675190296-ovelt0bhgnmend7mcmv0a2g39o1dh1jt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDa4flNvKrX3NskDFOvAkvbJCIQouwSLbY</string>
	<key>GCM_SENDER_ID</key>
	<string>338675190296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>radautiul.civic</string>
	<key>PROJECT_ID</key>
	<string>eradauti-nativ</string>
	<key>STORAGE_BUCKET</key>
	<string>eradauti-nativ.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338675190296:ios:a6265b5e7edc167eafd16d</string>
	<key>DATABASE_URL</key>
	<string>https://eradauti-nativ-default-rtdb.firebaseio.com</string>
</dict>
</plist>